[DEFAULT]
# Environment settings (robot physical environment)
# Position where the robot shall take items from the conveyor belt
conveyor_belt_output_location = [-63., 48.4, 22.46, 53., -52.8, 0.]
# Positions to pass while moving from output to input of conv.belt
conveyor_belt_intermediate_locations = [[-35., -16., 29., 0., 0., 0.]]
# Position where the robot shall place items for the conveyor belt
conveyor_belt_input_location = [103., 45.99, -88., 5., 29.99, 2.]

# All store positions
store_locations = [[],[],[],[],[],[]]

# Estimate obstacle positions by "going there" with remote control
obstacle_locations = [[]]

stored_items_initial = 0
# Mirobot settings
# Win: DeviceManager, Unix: ls /dev/tty.usb*
# run python list_ports.py to find out this config value
mirobot_portname = COM6
# Display robot debug output
mirobot_debug = True

# OPC UA settings
opcua_server_url=opc.tcp://192.168.1.1:4840

# NOTE: topics, values and routines belong together! They are order and length sensitive 
# NOTE: For each topic, a trigger value and routine to execute must be defined here
opcua_topics = ['ns3;s="MeasuringStationStep"', 'test']
opcua_values = [22, -42]
# One of 'store_item', 'put_from_store', 'put_from_conv_bucket'
opcua_routines = ['put_from_conveyor_belt_output', 'store_item']
# Seconds
opcua_request_timeout=4
# OPCUA username
opcua_user = user
# OPCUA password
opcua_password = password

[BLE]
## Bluetooth Low Energy connection type
# Win: DeviceManager, Unix: ls /dev/tty.usb*
mirobot_portname = ble
# Display robot debug output?
mirobot_debug = True
## OPC UA settings
opcua_server_url=opc.tcp://opcuaserver.com:48010
# Seconds
opcua_request_timeout=5
# OPCUA username
opcua_user = admin
# OPCUA password
opcua_password = pw
